.Card {
  font-size: 3rem;
  cursor: pointer;
  position: relative;
}

.Card-front,
.Card-back {
  width: 10rem;
  height: 14rem;
}

.Card-back {
  background-color: #d6cdc4;
  color: white;
  display: grid;
  place-items: center;
}

.Card-back img {
  height: 5.5rem;
  width: 5.5rem;
  transition: transform ease-out 0.2s;
  opacity: 0.8;
}

.Card-back:hover img {
  transform: rotate(-5deg);
}

.Card .Card-front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
  left: 0;
}

.flipped .Card-front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.Card .Card-back {
  transition: all ease-in 0.1s;
  transition-delay: 0.2s;
}

.flipped .Card-back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
