*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

/* 600px */
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
